.base-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  flex: 1;
}

.sidebar {
  z-index: 10;
}

.main {
  display: flex;
  flex: 1;
  margin: 5px;
  background-color: var(--secondary-color);
  color: var(--text-black-color);
  padding: 1.5rem;
}