<div class="quizzes">
  <h1>
    <app-back-icon></app-back-icon>
    Quizzes
  </h1>
  <div class="actions">
    <button routerLink="/quizzes/create-quiz" class="action-btn">
      Criar Quiz
      <i class="bi bi-plus-lg"></i>
    </button>
    <button class="action-btn">
      Procurar Quiz
      <i class="bi bi-search"></i>
    </button>
  </div>
  <div class="quiz-list-section">
    <div>
      <h2>Seus Quizzes</h2>
      <div *ngIf="quizzes.length === 0">
        Nenhum quiz encontrado
      </div>
    </div>
    <div class="quiz-list">
      <app-quiz-card class="quiz-item" *ngFor="let quiz of quizzes" [quiz]="quiz"></app-quiz-card>
    </div>

  </div>
</div>