<div class="generate-quiz">
  <h1>Gerar Quiz</h1>
  <form class="form">
    <div class="input-section">
      <label for="theme">Tema</label>
      <input [(ngModel)]="theme" type="text" id="theme" name="theme">
    </div>
    <div class="form-container">
      <div class="form-rigth-container">
        <div class="input-section">
          <label for="difficulty">Dificuldade</label>
          <select [(ngModel)]="difficulty" id="difficulty">
            <option value="easy">Fácil</option>
            <option value="medium" selected>Médio</option>
            <option value="hard">Difícil</option>
          </select>
        </div>
        <div class="input-section">
          <label for="numberOfQuestions">Número de Questões</label>
          <input [(ngModel)]="numberOfQuestions" type="number" id="numberOfQuestions" name="numberOfQuestions">
        </div>
      </div>


      <div class="form-left-container">
        <div class="input-section expires-container">
          <label for="expires">Expiração</label>
          <input [(ngModel)]="expires" type="checkbox" id="expires" name="expires">
          <div *ngIf="expires">
            <label for="expiresInSeconds">Tempo de Expiração em Segundos</label>
            <input type="number" [(ngModel)]="expiresInSeconds" id="expiresInSeconds" name="expiresInSeconds">
          </div>
        </div>
      </div>

    </div>
    <button type="submit" class="generate-btn">
      <p>Gerar Quiz</p>
      <i class="bi bi-arrow-clockwise"></i>
    </button>
  </form>
</div>