<div class="generate-quiz">
  <h1>
    <app-back-icon></app-back-icon>
    Gerar Quiz
  </h1>
  <form (submit)="handleSubmit()" class="form">
    <div class="input-section">
      <label for="theme">Tema</label>
      <input [(ngModel)]="theme" type="text" id="theme" name="theme">
    </div>
    <div class="form-container">
      <div class="form-rigth-container">
        <div class="input-section">
          <label for="difficulty">Dificuldade</label>
          <select [(ngModel)]="difficulty" id="difficulty" name="difficulty">
            <option value="easy">Fácil</option>
            <option value="medium" selected>Médio</option>
            <option value="hard">Difícil</option>
          </select>
        </div>
        <div class="input-section">
          <label for="numberOfQuestions">Número de Questões</label>
          <input [(ngModel)]="numberOfQuestions" type="number" id="numberOfQuestions" name="numberOfQuestions">
        </div>
      </div>


      <div class="form-left-container">
        <div class="input-section expires-container">
          <label for="expires">Expiração</label>
          <input [(ngModel)]="expires" type="checkbox" id="expires" name="expires">
          <div *ngIf="expires">
            <label for="expiresInSeconds">Tempo de Expiração em Segundos</label>
            <input type="number" [(ngModel)]="expiresInSeconds" id="expiresInSeconds" name="expiresInSeconds">
          </div>
        </div>
      </div>

    </div>
    <div class="btn-container">
      <button *ngIf="!isGenerating; else loadingTemplate" [disabled]="isGenerating" type="submit" class="generate-btn">
        <p>Gerar Quiz</p>
        <i  class="bi bi-arrow-clockwise"></i>
      </button>
    </div>

    
  </form>
</div>

<ng-template #loadingTemplate>
  <app-spinner-loading></app-spinner-loading>
</ng-template>