.match-details {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  width: 81vw;
}

.container-info, .actions {
  display: flex;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px;
  border-radius: 10px;
  gap: 1rem;
}

.container-info {
  flex-direction: row;
}

.sections-container, .data-container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}


.quiz-details {
  cursor: pointer;
}

.sections-container > p {
  font-weight: bold;
}

.actions > i {
  font-size: 20px;
  transition: all 300ms;
}

.actions > i:hover {
  transform: scale(1.15);
  cursor: pointer;
}