.match-details {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  width: 81vw;
}

.match-details > .title {
  display: flex;
  gap: 1rem;
}

.title > .quiz-title {
  transition: all 200ms;
}

.title > .quiz-title:hover {
  cursor: pointer;
  transform: scale(1.03);
}

h2 > span.percentage-red {
  color: var(--red-color);
}

h2 > span.percentage-yellow {
  color: var(--yellow-color);
}

h2 > span.percentage-green {
  color: var(--green-color);
}

.container-info, .actions {
  display: flex;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px;
  border-radius: 10px;
  gap: 1rem;
}

.container-info {
  flex-direction: row;
}

.sections-container, .data-container, .responses-container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.match-status {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
}

.status-green {
  background-color: var(--green-color);
}

.status-yellow {
  background-color: var(--yellow-color);
}

.status-red {
  background-color: var(--red-color);
}

.quiz-details {
  cursor: pointer;
}

.sections-container > p {
  font-weight: bold;
}

.responses-container {
  display: flex;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px;
  border-radius: 10px;
  gap: .3rem;
}
