:host {
  display: flex;
}

i {
  color: var(--red-color);
  font-size: 20px;
}

@media screen and (min-width: 1360px) {
  i {
    font-size: 20px;
  }
}


@media screen and (min-width: 1920px) {
  i {
    font-size: 25px;
  }
}
