<div class="sidebar">
  <h1 routerLink="/" class="title">SmartQuiz</h1>
  <nav>
    <section routerLink="/account" class="section-container">
      <i class="bi bi-person-circle"></i>
      <p>Conta</p>
    </section>
    <section routerLink="/" class="section-container">
      <i class="bi bi-house-fill"></i>
      <p>Home</p>
    </section>
    <section routerLink="/quizzes" class="section-container">
      <i class="bi bi-patch-question-fill"></i>
      <p>Quizzes</p>
    </section>
    <section routerLink="/generate-quiz" class="section-container">
      <i class="bi bi-arrow-clockwise"></i>
      <p>Gerar Quiz</p>
    </section>
    <section routerLink="/matches" class="section-container">
      <i class="bi bi-play-fill"></i>
      <p>Partidas</p>
    </section>

  </nav>
</div>