.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  gap: 1.6rem;
  padding: 0 16px;
  height: 100%;
  width: 0;
  z-index: 0;
  opacity: 0;
  transition: width 0.4s ease;
  pointer-events: none;
  padding: 10px;
  position: fixed;
}

.open {
  width: 150px;
  opacity: 1;
  pointer-events: all;
  z-index: 10;
}

.sidebar > i {
  margin-left: auto;
}

.title {
  cursor: pointer;
}

.sidebar > nav {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  cursor: pointer;
}

.section-container {
  display: flex;
  align-items: center;
  gap: 	1rem;
  transition: all 300ms;
  padding: 5px;
  border-bottom: 1px solid transparent;
}

.section-container > i {
  font-size: 26px;
}

.section-container:hover {
  color: gray;
  transition: all 300ms;

}

.border-bottom {
  border-bottom: 1px solid gray;
}