<div class="sidebar" [class]="isOpen ? 'open' : ''">
  <div class="sidebar-title title">
    <a href="/"><h1>SmartQuiz</h1></a>
    <i (click)="toggleSidebar()" class="burger bi-x-lg"></i>
  </div>
  <nav>
    <section 
    (click)="setSection('home')" 
    routerLink="/" 
    [class.border-bottom]="currentSection === 'home'" 
    class="section-container">
    <i class="bi bi-house-fill"></i>
    <p>Home</p>
    </section>
    <section 
      (click)="setSection('quizzes')" 
      routerLink="/quizzes" 
      [class.border-bottom]="currentSection === 'quizzes'" 
      class="section-container">
      <i class="bi bi-patch-question-fill"></i>
      <p>Quizzes</p>
    </section>
    <section 
      (click)="setSection('generate-quiz')" 
      routerLink="/quizzes/generate-quiz" 
      [class.border-bottom]="currentSection === 'generate-quiz'" 
      class="section-container">
      <i class="bi bi-arrow-clockwise"></i>
      <p>Gerar Quiz</p>
    </section>
    <section 
      (click)="setSection('history')" 
      routerLink="/history" 
      [class.border-bottom]="currentSection === 'history'" 
      class="section-container">
      <i class="bi bi-hourglass-split"></i>
      <p>Histórico</p>
    </section>
    <section 
      (click)="setSection('account')" 
      routerLink="/account" 
      [class.border-bottom]="currentSection === 'account'" 
      class="section-container">
      <i class="bi bi-person-circle"></i>
      <p>Conta</p>
    </section>
  </nav>
</div>
