<div class="register">
  <div class="column-1">
    <h1>Registre-se</h1>
    <form (submit)="handleSubmit()" class="register-form">
      <div class="form-section">
        <label id="username">Nome de usuário</label>
        <input [(ngModel)]="username" autocomplete="username" type="text" id="username" name="username">
        <div *ngIf="usernameError" class="error">{{ usernameError }}</div>
      </div>
      <div class="form-section">
        <label id="email">E-mail</label>
        <input [(ngModel)]="email" type="email" id="email" name="email">
        <div *ngIf="emailError" class="error">{{ emailError }}</div>
      </div>
      <app-password-form [isLogin]="false" [passwordError]="passwordError" (passwordChange)="handleChangePassword($event)"></app-password-form>
      <button class="register-btn">
        <p *ngIf="!loading; else loadingTemplate">Registrar</p></button>
    </form>
    <div routerLink="/login" class="already-registered">Já possui uma conta? <span>Entrar</span></div>
  </div>
  <app-smartquiz-desc class="column-2"></app-smartquiz-desc>
</div>

<ng-template class="loading-spinner" #loadingTemplate>
  <app-spinner-loading [isBig]="false"></app-spinner-loading>
</ng-template>