<div class="register">
  <div class="column-1">
    <h1>Registre-se</h1>
    <form class="register-form">
      <div class="form-section">
        <label id="username">Nome de usuário</label>
        <input type="text" id="username">
      </div>
      <div class="form-section">
        <label id="email">E-mail</label>
        <input type="text" id="email">
      </div>
      <div class="form-section">
        <label id="password">Senha</label>
        <input type="text" id="password">
      </div>
      <button class="register-btn">Registrar</button>
    </form>
    <div routerLink="/login" class="already-registered">Já possui uma conta? <span>Entrar</span></div>
  </div>
  <app-smartquiz-desc class="column-2"></app-smartquiz-desc>
</div>