<div class="quiz" *ngIf="quiz && account">
  <h1>
    <app-back-icon></app-back-icon>
    {{ quiz.title }}
  </h1>
  <p>{{ quiz.description }}</p>
  <div class="container-info">
    <div class="sections-container">
      <p>Id</p>
      <p>Tema</p>
      <p>Expiração</p>
      <p>Expiração em segundos</p>
      <p>Questões</p>
      <p>Dificuldade</p>
      <p>Ativo</p>
    </div>
    <div class="data-container">
      <p>{{ quiz.id }}</p>
      <p>{{ quiz.theme }}</p>
      <p>{{ quiz.expires ? 'Sim' : 'Não'}}</p>
      <p>{{ quiz.expiresInSeconds }}</p>
      <p>{{ quiz.numberOfQuestion }}</p>
      <p>{{ quiz.difficulty }}</p>
      <p>{{ quiz.isActive ? 'Sim' : 'Não' }}</p>
    </div>
  </div>
  <div class="actions-container">
    <app-play-quiz-button [quizId]="quiz!.id"></app-play-quiz-button>
    <app-delete-quiz *ngIf="account.id === quiz.userId" [quizId]="quiz.id"></app-delete-quiz>
  </div>
  <div class="questions-container">
    <h2>Questões</h2>
    <div *ngFor="let question of questions">
      <p><span class="question-order">{{ question.order + 1 }}</span>  - {{ question.text }}</p>
    </div>
  </div>
</div>