<div class="quiz-card">
  <div class="quiz-card-content">
    <div class="title-container">
      <h4 [routerLink]="'/quizzes/'+ quiz.id">{{ quiz.title }}</h4>
      <i class="bi bi-three-dots"></i>
    </div>
    <p>{{ quiz.description }}</p>
    <p>{{ quiz.theme }}</p>
    <div class="quiz-info">
      <p>{{ quiz.numberOfQuestion}} questões</p>
      <p>{{ quiz.expiresInSeconds / 60 }} min ( {{ quiz.expiresInSeconds}} seg )</p>
    </div>
  </div>
  <button (click)="handleButtonClick()" class="play-btn">
    <p>{{ quiz.isActive ? 'Jogar' : 'Visualizar' }}</p>
    <i class="bi bi-play-fill"></i>
  </button>
</div>