<div class="quiz-card">
  <div class="quiz-card-content">
    <div class="title-container">
      <h4 [routerLink]="'/quizzes/'+ quiz.id">{{ quiz.title }}</h4>
      <p class="quiz-description">{{ quiz.description }}</p>
    </div>
    <div class="quiz-flags">
      <p class="theme-flag">{{ quiz.theme }}</p>
      <div class="small-flags">
        <p class="question-flag">{{ quiz.numberOfQuestion}} questões</p>
        <p *ngIf="quiz.expires" class="clock-flag"> 
          {{ quiz.expiresInSeconds}} seg
          <i class="bi-clock"></i>
        </p>
      </div>
    </div>
  </div>
  <app-play-quiz-button [quizId]="quiz.id" class="play-btn"></app-play-quiz-button>
</div>