.quiz-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px;
  border-radius: 7px;
  flex: 1 1 auto;
  gap: .6rem;
}

.quiz-card-content {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  flex: 1;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.title-container > h4 {
  cursor: pointer;
  color: var(--primary-color);
}

.quiz-flags {
  display: flex;
  gap: .3rem;
}

.quiz-flags p {
  display: flex;
  padding: 4px;
  color: var(--primary-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.theme-flag {
  background-color: var(--red-color);
}

.small-flags {
  display: flex;
  gap: .3rem;
}

.clock-flag {
  background-color: var(--blue-color);
  display: flex;
  gap: .4rem;
}

.question-flag {
  background-color: var(--yellow-color);
}

.play-btn {
  margin-top: .8rem;
}

@media screen and (min-width: 768px) {
  .quiz-card {
    padding: 15px;
  }
}

@media screen and (min-width: 1920px) {
  .quiz-flags p {
    padding: 7px;
  }
}