.smartquiz-desc {
  color: var(--secondary-color);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;  
  gap: 3rem;
}

.info-container {
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.icon {
  font-size: 150px;
}