.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
}

:host {
  display: flex;
  flex: 1;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.quick-access {
  display: flex;
  gap: 1rem;
}

.quick-access > button {
  background-color: var(--primary-color);
  color: var(--secondary-color)
}

.list-container {
  display: flex;
  gap: .6rem;
}

.list-container > .data-list {
  display: flex;
  flex: 1;
  background-color: aqua;
}


/* List */

.data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10px;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: var(--secondary-color);
  flex: 1;
  cursor: pointer;
  overflow: auto;
}

.p-details {
  display: none;
}

.histories, .quizzes {
  display: flex;
  flex-direction: column-reverse;
  gap: .8rem;
}

.info-row {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  border-radius: 5px;
  padding: 10px;
  color: var(--primary-color);
}

.empty-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.empty-list > button {
  max-width: max-content;
}

@media screen and (min-width: 768px) {
  .data {
    padding: 20px;
  }
}

@media screen and (min-width: 1920px) {
  .data {
    padding: 25px;
  }
}