<div class="home">
  <div class="info-container">
    <app-presentation-box title="Pontuação Total" [data]="account?.totalScore"></app-presentation-box>
    <app-presentation-box title="Pontuação Máxima" [data]="account?.maxScore"></app-presentation-box>
    <app-presentation-box title="Partidas Jogadas" [data]="account?.matchesPlayed"></app-presentation-box>
    <app-presentation-box title="Quizzes Criados" [data]="account?.createdQuizzes"></app-presentation-box>
  </div>
  <div class="quick-access">
    <button routerLink="quizzes/create-quiz">Criar Quiz <i class="bi bi-plus-lg"></i></button>
    <button routerLink="quizzes/generate-quiz">Gerar Quiz <i class="bi bi-arrow-clockwise"></i></button>
    <button routerLink="account">Conta <i class="bi bi-person-circle"></i></button>
  </div>
  <div class="list-container">
    <div class="data">
      <h2 routerLink="/history">Histórico</h2>
      <div class="histories">
        <div [routerLink]="'/matches/'+ match.id" *ngFor="let match of matches" class="info-row">
          <p>{{ match.quiz?.title }}</p>
          <p class="p-details">{{ formatDate(match.createdAt) }}</p>
        </div>
        <div class="empty-list" *ngIf="matches.length === 0">
          Nenhum partida encontrada por aqui...
        </div>
      </div>
    </div>

    <div class="data">
      <h2 routerLink="/quizzes">Meus Quizzes</h2>
      <div class="quizzes">
        <div *ngFor="let quiz of quizzes" [routerLink]="'/quizzes/'+ quiz.id" class="info-row">
          <p>{{ quiz.title }}</p>
          <p class="p-details">{{ formatDifficulty(quiz.difficulty) }}</p>
        </div>
        <div class="empty-list" *ngIf="quizzes.length === 0">
          Nenhum quiz encontrado
          <button routerLink="quizzes/create-quiz">Criar Quiz <i class="bi bi-plus-lg"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>