<div class="home">
  <div class="info-container">
    <app-presentation-box title="Pontuação Total" [data]="totalScore"></app-presentation-box>
    <app-presentation-box title="Pontuação Máxima" [data]="maxScore"></app-presentation-box>
    <app-presentation-box title="Tempo Mínimo" [data]="[minTime + ' segundos']"></app-presentation-box>
    <app-presentation-box title="Partidas Jogadas" [data]="matchesPlayed"></app-presentation-box>
    <app-presentation-box title="Respostas Corretas" [data]="correctAnswers"></app-presentation-box>
    <app-presentation-box title="Respostas Incorretas" [data]="maxScore"></app-presentation-box>
    <app-presentation-box title="Quizzes Criados" [data]="createdQuizzes"></app-presentation-box>
    <app-presentation-box title="Partidas Concluídas" [data]="[minTime + ' segundos']"></app-presentation-box>
  </div>
  <div class="list-container">

    <div class="data">
      <h2 routerLink="/history">Histórico</h2>
      <div class="histories">
        <div *ngFor="let match of matches" class="info-row">
          <p>{{ match.quiz?.title }}</p>
          <p>{{ formatDate(match.createdAt) }}</p>
        </div>
      </div>
    </div>

    <div class="data">
      <h2 routerLink="/quizzes">Meus Quizzes</h2>
      <div class="quizzes">
        <div *ngFor="let quiz of quizzes" [routerLink]="'/quizzes/'+ quiz.id" class="info-row">
          <p>{{ quiz.title }}</p>
          <p>{{ quiz.theme }}</p>
          <p>{{ quiz.difficulty }}</p>
        </div>
      </div>
    </div>
  </div>
</div>