<div class="account">
  <h1>Conta</h1>
  <div class="content">
    <div class="info-container">
      <div class="info-section">
        <p>Id</p>
        <p class="data">7ee5e9a2-762c-40a6-bc93-869a5a52b390</p>
      </div>
      <div class="info-section">
        <p>Username</p>
        <p class="data">User</p>
      </div>
      <div class="info-section">
        <p>E-mail</p>
        <p class="data">Usergmail.com</p>
      </div>
    </div>
    <div class="verify-email-container">
      <p>Verificar E-mail</p>
      <button class="send-verify-code-btn">Enviar código</button>
    </div>
  </div>
</div>