<div class="account">
  <h1>
    <app-back-icon></app-back-icon>
    Conta
  </h1>
  <div class="content">
    <div class="info-container">
      <div class="info-section">
        <p>Id</p>
        <p class="data">{{ account?.id }}</p>
      </div>
      <div class="info-section">
        <p>Username</p>
        <p class="data">{{ account?.username }}</p>
      </div>
      <div class="info-section">
        <p>E-mail</p>
        <p class="data">{{ account?.email }}</p>
      </div>
    </div>
    <div class="verify-email-container">
      <p>Verificar E-mail</p>
      <button class="btn">Enviar código</button>
    </div>
    <div class="actions">
      <button class="btn">
        Sair
        <i class="bi bi-box-arrow-left"></i>
      </button>
    </div>
  </div>
</div>