<div class="login">
  <div class="column-1">
    <h1>Entrar</h1>
    <form (submit)="submit()" class="login-form">
      <div class="form-section">
        <label id="email">E-mail</label>
        <input [ngClass]="passwordError ? 'border-error' : ''" [(ngModel)]="email" autocomplete="email" name="email" type="text" id="email">
        <div *ngIf="emailError" class="error">{{ emailError }}</div>
      </div>
      <app-password-form  [isLogin]="true" [passwordError]="passwordError" (passwordChange)="handleChangePassword($event)"></app-password-form>
      <button [disabled]="isLoading" class="login-btn">
        <p>{{ isLoading ? "Entrando" : "Entrar" }}</p>
        <app-spinner-loading *ngIf="isLoading" [isBig]="false" [isDark]="true" class="loading-spinner"></app-spinner-loading>
      </button>
    </form>
    <hr>
    <app-login-google-btn></app-login-google-btn>
    <div routerLink="/register" class="not-registered">Não se registrou? Registre-se</div>
    <app-terms></app-terms>
  </div>
  <app-smartquiz-desc class="column-2"></app-smartquiz-desc>
</div>