.login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.column-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex: 1;
  padding: 10px;
}

.column-2 {
  display: none;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 450px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: .4rem;
  flex: 1;
}

.form-section > input {
  padding: 10px;
  transition: all 300ms;
}

.login-btn {
  color: var(--primary-color);
  padding: 10px 40px;
  margin: 30px auto;
}

.not-registered  {
  margin-top: 20px;
  color: rgba(0, 115, 255, 0.637);
  cursor: pointer;
}

@media screen and (min-width: 1360px) {
  .login {
    align-items: normal;
  }

  .column-2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--primary-color);
    flex: 1;
  }
  
}

@media screen and (min-width: 1920px) {
  .login-form {
    max-width: 850px;
  }
}

