.history-item {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 6px;
  align-items: center;
  gap: 3rem;
  transition: .1s;
  border-bottom: 3px solid transparent;
  flex: 1;
}

.history-item:hover {
  transform: scale(1.008);
  cursor: pointer;
}

.info {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  align-items: center;
  cursor: pointer;
  gap: 1rem;
  flex: 1;
  padding: 5px;
  border-radius: 6px;
}

.match-quiz-title {
  width: 40%;
}

.match-status {
  width: 120px;
  color: white;
  padding: 5px;
  border-radius: 7px;
  text-align: center;
}

.status-green {
  background-color: var(--green-color);
}

.status-yellow {
  background-color: var(--yellow-color);
}

.status-red {
  background-color: var(--red-color);
}

.actions {
  display: none;
  gap: 1.6rem;
  font-size: 20px;
  padding: 10px;
}

@media screen and (min-width: 768px) {

  .match-status {
    width: 140px; 
  }

  .actions {
    display: flex;
  }
}

@media screen and (min-width: 1360px) {
  .actions i {
    font-size: 20px;
  }
}

@media screen and (min-width: 1920px) {
  .info {
    padding: 10px;
  }
  
  .actions i {
    font-size: 25px;
  }

  .match-status {
    width: 180px; 
  }
}