<div [routerLink]="'/matches/'+match.id" *ngIf="match" class="history-item">
  <div class="info" >
    <p class="match-quiz-title">{{ match.quiz?.title }}</p>
    <p 
    [class]="match.status === 'Finished' ? 'status-green' :
      match.status === 'Failed' ? 
      'status-red' : 
      'status-yellow'" class="match-status">
      {{ formatStatus(match.status) }}
    </p>
    <p>{{ formatDate(match.createdAt) }}</p>
  </div>
  <div class="actions">
    <i [routerLink]="'/quizzes/' + match.quizId" class="bi bi-arrow-clockwise"></i>
    <app-delete-match [matchId]="match.id"></app-delete-match>
  </div>
</div>