.history-item {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px;
  border-radius: 6px;
  align-items: center;
}

.actions {
  display: flex;
  gap: 1.6rem;
  font-size: 20px;
}

.actions > i {
  cursor: pointer;
}