.login-google-btn {
  padding: 10px;
}

.login-google-btn img  {
  width: 20px;
}

@media screen and (min-width: 1920px) {
  .login-google-btn {
    padding: 15px;
  }
  
  .login-google-btn img  {
    width: 35px;
  }
}

