.search-results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

:host {
  display: flex;
  flex: 1;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  gap: .4rem;
}

.quiz-card {
  display: flex;
  flex: 1;
}

.load-btn {
  margin: 40px auto;
}