<div class="history">
  <h1>Histórico</h1>
  <div class="history-container">
    <app-history-item></app-history-item>
    <app-history-item></app-history-item>
    <app-history-item></app-history-item>
    <app-history-item></app-history-item>
    <app-history-item></app-history-item>
    <app-history-item></app-history-item>
    <app-history-item></app-history-item>
    <app-history-item></app-history-item>
    <app-history-item></app-history-item>
    <app-history-item></app-history-item>
    <app-history-item></app-history-item>
    <app-history-item></app-history-item>
    <app-history-item></app-history-item>
    <app-history-item></app-history-item>
    <app-history-item></app-history-item>
    <app-history-item></app-history-item>
    <app-history-item></app-history-item>
    <app-history-item></app-history-item>
    <app-history-item></app-history-item>
    <app-history-item></app-history-item>
    <app-history-item></app-history-item>
    <app-history-item></app-history-item>
  </div>
  <button class="load-btn">Carregar mais</button>
</div>