.history {
  display: flex;
  flex-direction: column;
  flex: 1;
}

:host {
  display: flex;
  flex: 1;
}

.history-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 5px;
}

.load-btn {
  margin: 10px auto;
  padding: 10px;
}